* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  user-select: none;
}

:root {
  background-color: #ffff64;
}

body {
  font-family: "Montserrat";
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 2px solid #000;
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: #f8f8f8;
}

input:focus {
  outline: none;
}

button {
  padding: 0.5rem;
  border: 2px solid #000;
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: #ffff64;
  cursor: pointer;
}

button:hover:active {
  background-color: #47471b;
  color: #fff;
}
